black
ruff
mypy
tox
pytest
pytest-snapshot
structlog
pytest-structlog
sphinx
sphinx-rtd-theme
line_profiler
memory_profiler
numpy
scipy
statsmodels
openpyxl
matplotlib
python-dotenv
psycopg[binary]
sqlalchemy
sqlalchemy-utils
pydantic
sqlmodel
pandas[performance, plot, computation, excel]
polars-lts-cpu
ibis-framework[pandas, polars]
seaborn
fastcluster
requests
scikit-learn
jupyterlab
ipywidgets
ipympl
pandera[mypy, pandas, polars, ibis]
alembic
sqlacodegen
